# FairFace2.0/*

data/FairFace2.0/*
# clean_dataset/*
lark doc/*
*/debug_dir/*
*/__pycache__/*
*/nohup.out
*/wandb/*
wandb/*

model_training/*/__pycache__/*
model_training/train_round2/*
model_training/test_*/*


*.jpg
*.jpeg
*.png

*/__pycache__/*

*.csv
Turk/turk_exp/*

*/.DS_Store
*.pyc
tune_search/*
.DS_Store

clean_dataset/.DS_Store
*.pyc