# FairFace2.0/*

data/FairFace2.0/*
# clean_dataset/*
lark doc/*
*/debug_dir/*
*/__pycache__/*
*/nohup.out
*/wandb/*
wandb/*

model_training/*/__pycache__/*

*.jpg

*/__pycache__/*

*.csv
Turk/turk_exp/*

*/.DS_Store
*.pyc
tune_search/*
.DS_Store